#ifndef SECRETS_H
#define SECRETS_H

#define DEFAULT_WIFI_SSID "YOUR_WIFI_SSID"
#define DEFAULT_WIFI_PASS "YOUR_WIFI_PASSWORD"

#define AP_SSID "BioBox-Aquarium"
#define AP_PASS "12345678"

#define OTA_USER "admin"
#define OTA_PASS "admin123"

#endif // SECRETS_H
